body{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  // font-size:1vw;
  font-size: clamp(12px, 1vw, 100px);
  // white-space: pre-wrap;
  margin: 0;
  color: #121318;
  background-color: #f0f0f0;
}
.App{
  height: 100vh;
}

a{
  text-decoration: none;
  color: #121318;
}