.effects{
  display:flex;
  justify-content:center;
  align-items:center;
}

.comp{
  background-color: rgba(15, 6, 6, 0.495);
  text-align:center;
  margin-right:10%;
}
.reverb{
  background-color: rgba(15, 6, 6, 0.495);
  text-align: center;
}