@import './animations.scss';

.main{
  position:relative;
  color:#f0f0f0;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url(../assets/img/main_bg.jpg);
  width:100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  display:flex;
  justify-content: center;
  overflow-y:hidden;
}

.overlay {
  position:absolute;
  display:flex;
  justify-content:center;
  width: 100vw;
  height: 20vh;
  background: linear-gradient(to top, transparent,#1c359b5e, #040230);
}

.nav{
  z-index: 1;
  margin-top:3vh;
  animation: slideDown 2s ease forwards, fadeIn 2s ease;
  &_items{
    font-size: 2em;
    font-weight:600;
    cursor: pointer;
    margin:0px 2vw 0px 2vw;
  }
}

.textbox{
  display:flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 2s ease forwards, blurIn 1s ease forwards;
  text-align: center;
}

.texts{
  margin-left: 3vw;
  margin-right: 3vw;
  &_h1 {
    font-size: 10em;
    line-height: 1;
    margin:0;
    @media(max-width:440px) {
        font-size: 8.5em;
      }
  }
}
