@import './animations.scss';

.main{
  color:#f0f0f0;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url(../assets/img/main_bg.jpg);
  width:100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  display: flex;
  // flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.overlay {
  display:flex;
  justify-content:right;
  align-items:center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, transparent,#1c359b59, #040230aa);
}

.nav{
  animation: slideInRight 0.8s ease forwards;
  text-align:right;
  margin-right:5vw;
  cursor: pointer;
}

.texts{
  width:60vw;
  margin-left:10vw;
  animation: slideUp 0.8s ease forwards;
  text-align: center;
  &_h1 {
    @extend .texts;
    font-size: 7em;
    line-height:1;
    margin-left:0;
    margin-bottom:0;
  }
}
