.ul {
  display: flex;
}
.li {
  margin-right: 20px;
  font-size: clamp(1rem, 20px, 2rem);
  list-style: none;
  &_main{
    @extend .li;
    font-size:30px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-right: 70%;
    white-space:nowrap;
  }
}