@import './animations.scss';


.player{
  animation: slideUp 0.8s ease forwards;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 4vh;
  background-color: #f0f0f0;
  color:#121318;
  border: 1px solid #ccc;
  width:85vw;
  height:5.5vh;
  border-radius:25px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.title{
  font-size:0.9em;
  margin-right:4vw;
  font-weight:600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timeline{
  font-weight:600;
  align-items: center;
  display:flex;
  &_progress {
    margin: 0px 1vw 0px 1vw;
    width: 48vw;
    @media (max-width: 800px) {
      width: 25vw;
    }
  }
  margin-left:1vw;
  margin-right:1vw;
}

.buttons{
  all: unset;
  font-size: 2em;
  margin-right:0.5vw;
  &_first{
    @extend .buttons;
    margin-left:4vw;
  }
  &_container{
    &_play, &_volume, &_panning{
      position: relative;
      display: flex;
    }
  }
}

.popover {
  white-space: nowrap;
  font-weight:600;
  text-align: center;
  z-index:999;
  position: absolute;
  top: -5vh;
  left: -4vw;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  &_range{
    width:7vw;
    @media (max-width: 800px) {
      width: 15vw;
    }
  }
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #CCCCCC;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #F2F2F2;
  border: 1px solid #CCCCCC;
  height: clamp(4px,2vh, 20px);
  width: clamp(8px, 3vw, 20px);
  border-radius: 25px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #CCCCCC;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #CCCCCC;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #F2F2F2;
  border: 1px solid #CCCCCC;
  height: clamp(4px, 2vh, 20px);
  width: clamp(8px, 3vw, 20px);
  border-radius: 25px;
  background: #000000;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #CCCCCC;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #CCCCCC;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #F2F2F2;
  border: 1px solid #CCCCCC;
  height: clamp(4px, 2vh, 20px);
  width: clamp(8px, 3vw, 20px);
  border-radius: 25px;
  background: #000000;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #CCCCCC;
}

input[type=range]:focus::-ms-fill-upper {
  background: #CCCCCC;
}