@import './animations.scss';

.tracks{
  text-align:center;
}
.tracklist{
  margin-bottom:1vh;
  &_container{
    display: grid;
    justify-content: center;
    font-size: 1.5em;
    font-weight:600;
    padding-bottom:10vh;
  }
  display:grid;
  gap:20px;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width : 1600px){
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width : 1300px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width : 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width : 650px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.image{
  width: 390px;
  height: 390px;
  @media (max-width:1650px) {
    width: 300px;
    height: 300px;
  }
  @media (max-width:650px) {
    width: 390px;
    height: 390px;
  }
  @media (max-width:400px) {
    width:300px;
    height: 300px;
  }
  transition: filter .3s ease;
  &_title{
    font-weight:400;
    font-size: 0.7em;
    line-height:0;
    margin:1.5vh;
  }
  &_container{
    animation: fadeIn .8s ease, blurIn .5s ease;
    border-radius:0px 0px 8px 8px;
    border: 1px solid #959595;
    :hover {
      filter: brightness(30%);
    }
    &_selected{
      filter: brightness(30%);
    }
  }
}

.button{
  all:unset;
  background-color: #121318;
  color: #f0f0f0;
  padding:0px 10px 0px 10px;
  border-radius:8px;
  font-weight:400;
  font-size: 0.7em;
}
.button:hover {
  background-color: #626262;
}

.button:active {
  background-color: #121318;
}